.carousel {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px 0px;
    max-height: 600px;
    position: relative;
  }
  

  .carousel .carousel-slider{
    width: 100px;
    height: auto;
    position: absolute;
    background-color: #343a40;
    right: 0;
    overflow: hidden;
  }


  .carousel-image {
    width: 90%;
    height: auto;
    transition: opacity 1s ease-in-out;
  }
  
  .carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
  }
  
  .indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .indicator.active {
    background-color: #fff;
  }
  