.carousel {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-height: 600px;
  padding: 0; /* Remove padding */
}

.carousel-image {
  width: 100%;
  height: 600px; /* Ensures full height */
  object-fit: cover; /* Covers the container without distortion */
  display: block; /* Removes any inline spacing */
  margin: 0; /* Removes any margins */
  padding: 0; /* Ensures no extra spacing */
}

  

  .carousel .carousel-slider{
    width: 100px;
    height: auto;
    position: absolute;
    background-color: #343a40;
    right: 0;
    overflow: hidden;
  }

  .carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
  }
  
  .indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .indicator.active {
    background-color: #fff;
  }
  